* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	height: 100vh;
}
body {
	background-image: url("./img/nature-background-img.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

i,
p {
	font-family: "Noto Sans SC", sans-serif;
}

p {
	font-size: 12px;
	font-weight: 700;
	padding-left: 3px;
}
.headerContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #026aa7;
	justify-content: space-between;
}

.headerContainer .navBarRightIcons {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.navBarRightIcons > div {
	display: flex;
	align-items: center;
	padding-left: 15px;
}

.headerContainer .navBarCenterIcons {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	position: relative;
	left: -100px;
}
.navBarCenterIcons img {
	max-width: 70%;
	max-height: 70%;
}
.headerContainer .navBarLeftIcons {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navBarLeftIcons > div {
	padding-right: 15px;
}
.logoWithName:hover,
#iconWork:hover {
	background-color: rgba(199, 19, 19, 0.2);
	box-shadow: none;
	color: #ffffff;
	outline: 0;
}

.logoWithName {
	display: flex;
	flex-direction: row;
	padding: 10px;
	background-color: #ffffff;
	border-radius: 5px;
}

#iconWork {
	padding: 10px;
	background-color: #ffffff;
	margin: 5px 3px;
	border-radius: 5px;
}

.boardInfo {
	display: flex;
	flex-direction: row;
}
.cardCreation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 1rem;
}

.addCard {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
	justify-content: center;
	margin-bottom: 0;
}

.addCard p {
	font-size: 15px;
}

.addCard:hover {
	background-color: rgba(2, 18, 44, 0.2);
}

#myBtn {
	font-size: 25px;
	height: 200px;
	width: 15%;
	border-radius: 10px;
	margin: 10px 0px 0px 10px;
}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 30%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#myListBtn {
	height: 40px;
	width: 50%;
	border-radius: 10px;
	margin: 10px 0px 0px 10px;
}
#textDisc {
	font-size: 25px;
}

.abc {
	display: flex;
	justify-content: center;
}
#myModalBtn {
	height: 40px;
	width: 20%;
	text-align: center;
}
/**	newItem.style.height = "200px";
	newItem.style.width = "15%";
	newItem.style.margin = "10px 0px 0px 10px";
	newItem.style.borderRadius = "10px";
	newItem.style.paddingLeft = "5px";
	newItem.style.backgroundColor = "white";*/
.boardData {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 15%;
	margin: 10px 0px 0px 10px;
	border-radius: 10px;
	padding-left: 5px;
	padding-left: 5px;
	background-color: whitesmoke;
}
