* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	height: 100vh;
}
body {
	background-image: url("./img/nature-background-img.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

i,
p {
	font-family: "Noto Sans SC", sans-serif;
}

p {
	font-size: 12px;
	font-weight: 700;
	padding-left: 3px;
}
.headerContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #026aa7;
	justify-content: space-between;
}

.headerContainer .navBarRightIcons {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.navBarRightIcons > div {
	display: flex;
	align-items: center;
	padding-left: 15px;
}

.headerContainer .navBarCenterIcons {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	position: relative;
	left: -100px;
}
.navBarCenterIcons img {
	max-width: 70%;
	max-height: 70%;
}
.headerContainer .navBarLeftIcons {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navBarLeftIcons > div {
	padding-right: 15px;
}

.logoWithName {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	background-color: #ffffff;
	border-radius: 5px;
}
.logoWithName:hover,
#iconWork:hover {
	background-color: rgba(199, 19, 19, 0.2);
	box-shadow: none;
	color: #ffffff;
	outline: 0;
}

#boardName {
	color: white;
	padding-left: 20px;
	margin-top: 2px;
}
#boardNameDisc {
	color: white;
}
#iconWork {
	padding: 10px;
	background-color: #ffffff;
	margin: 5px 3px;
	border-radius: 5px;
}

.bodyInfo {
	display: flex;
	flex-direction: row;
}
.cardCreation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 1rem;
}

.addCard {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
	justify-content: center;
	margin-bottom: 0;
}

.addCard p {
	font-size: 15px;
}

.addCard:hover {
	background-color: rgba(2, 18, 44, 0.2);
}
.bodyInfo {
	display: flex;
}

.firstBoard {
	background-color: grey;
	margin: 10px;
	width: 20%;
	padding: 0.5rem;
	border-radius: 5px;
}
.firstBoard * {
	margin-bottom: 0.5rem;
}

.listCardTextArea {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
	cursor: pointer;
	display: block;
	margin-bottom: 8px;
	resize: none;
	min-width: 100%;
	height: min-content;
}

#cardInfo {
	margin: 5px 0px;
	height: 40px;
	border-radius: 5px;
	display: none;
}

.designList {
	width: 18rem;
	margin-top: 5px;
	background-color: lightslategray;
	margin-left: 10px;
	border-radius: 5px;
}

.cardDesign {
	height: 50px;
	margin: 10px;
	padding: 10px;
	width: 80%;
	background-color: lightblue;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#popUp {
	height: 700px;
	width: 50%;
	margin-left: 25%;
	background-color: thistle;
	position: absolute;
	top: 100px;
	display: none;
	border-radius: 10px;
	overflow-y: auto;
	padding: 24px;
}

#cardname {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 20px;
}

.CardNameInfo {
	padding-left: 5px;
}

.fileDesc {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* #classDesc {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 20px;
} */

.deleteBtn {
	border-radius: 5px;
	background-color: blueviolet;
}

#btnCancel {
	display: flex;
	flex-direction: row;
}

/* #textDiscription {
	border: none;
	outline: none;
	height: 32px;
	padding: 0 12px;
} */
/* .saveAndCancel {
	padding: 4px 12px;
	border-radius: 4px;
	margin-left: 12px;
	border: none;
}
.saveAndCancel:focus {
	outline: none;
} */
.primaryBtn {
	background-color: deepskyblue;
}

#DiscAlign {
	display: flex;
	flex-direction: row;
}
#fab {
	display: flex;
	justify-content: flex-end;
}
#myBtn {
	height: 30px;
	width: 10%;
	border-radius: 5px;
}

#myBtnAdd {
	height: 30px;
	width: 10%;
	float: right;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 30%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#closeTitle {
	display: flex;
	flex-direction: column;
}

#checklistBody {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: yellowgreen;
}

#checkListTitle {
	margin-left: 10px;
}

#checklistDelete {
	display: flex;
	justify-content: flex-end;
}

#addItemList {
	height: 35px;
	width: 15%;
	border-radius: 5px;
	margin-left: 10px;
}

.deleteChecklist {
	height: 30px;
	width: 10%;
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
}
